*.iml
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.DS_Store
/build
/captures
.externalNativeBuild
